{% extends "users/base.html" %}
{% block content %}
<div class="container-fluid">
  <h1 class="page-title">
    {% block title %}{% endblock title %}
  </h1>
  <div class="row">
    <div class="col-md-3" id="workout-menu">
      <ul class="nav flex-column" id="workout-nav">
        <li class="nav-item">
          <h5 class="nav-link" style="color: white;">Menu</h5>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-workouts' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-c-workouts' %}">My Cardio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-r-workouts' %}">My Resistance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-wl-workouts' %}">My Weightlifting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'workout-select' %}">Add Workout</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9" id="workouts">
    {% block workout-content %}{% endblock workout-content %}
    </div>
  </div>
</div>
{% endblock content %}