{% extends "users/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="page-title">
        {% block title %}{% endblock title %}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mb-5">
      <ul class="nav justify-content-center" style="background-color: rgba(0,0,0,0.25);">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-workouts' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-c-workouts' %}">Cardio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-r-workouts' %}">Resistance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-wl-workouts' %}">Weightlifting</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
    {% block workout-content %}{% endblock workout-content %}
    </div>
  </div>
</div>
{% endblock content %}
