{% extends "users/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h1 class="page-title">
        <a class="btn btn-secondary" style="margin-right: 1em;" href="{% url 'session-list' %}">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </a>
        {{ session.name }}
        <small class="text-muted">{{ session.date | date:"F d, Y" }}</small>
      </h1>
    </div>
    <div class="col-md-2">
      {% if session.user == user %}
        <a class="btn btn-secondary" href="{% url 'session-update' session.id %}" role="button">Edit</a>
        <a class="btn btn-danger" href="{% url 'session-delete' session.id %}" role="button">Delete</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}