{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
{{ form.media }}
{% endblock head %}
{% block content %}
<div class="container">
  <div class="row align-items-center">
    <h1 class="page-title">
      {{ page_title }}
    </h1>
  </div>
  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form | crispy }}
        </fieldset>
        <div class="form-group">
          <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}" role="button">Cancel</a>
          <button class="btn form-button" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}