{% extends "users/base.html" %}
{% block content %}
<div class="container-fluid">
  <h1 class="page-title">
    {{ title }}
  </h1>
  <div class="row">
    <div class="col-md-3" id="workout-menu">
      <ul class="nav flex-column" id="workout-nav">
        <li class="nav-item">
          <h5 class="nav-link" style="color: white;">Menu</h5>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-workouts' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add-workout' %}">Add Workout</a>
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <h5 class="nav-link" style="color: white; padding-top: 1em;">Admin Menu</h5>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all-workouts-admin' %}">View All Workouts</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-md-9" id="workouts">
      {% if object_list.count == 0 %}
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 style="color: white;">No workouts to display.</h1>
            <h3 style="color: white; margin-top: 1em;">Get started by adding workouts!</h3>
          </div>
        </div>
      {% else %}
      <table class="table table-light table-striped">
        <thead class="thead-light">
          <tr>
            {% if user.is_superuser and all %}
              <th scope="col">User</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
            {% else %}
              <th scope="col">Name</th>
              <th scope="col">Weight</th>
              <th scope="col">Sets</th>
              <th scope="col">Reps</th>
              <th scope="col">Date</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for workout in workouts %}
          <tr>
            {% if user.is_superuser and all %}
              <th scope="row">
                <a class="workout-title-link" href="{% url 'profile' workout.user.username %}">
                  @{{ workout.user.username }}
                </a>
              </th>
              <td>
                <a class="workout-title-link" href="{% url 'workout-detail' workout.id %}">
                  {{ workout.name }}
                </a>
              </td>
              <td>{{ workout.date | date:"m/d/Y" }}</td>
            {% else %}
              <th scope="row">
                <a class="workout-title-link" href="{% url 'workout-detail' workout.id %}">
                  {{ workout.name }}
                </a>
              </th>
              <td>{{ workout.weight }}</td>
              <td>{{ workout.sets }}</td>
              <td>{{ workout.reps }}</td>
              <td>{{ workout.date | date:"m/d/Y" }}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
