{% extends "log/base.html" %}
{% block title %}
{{ title }}
{% endblock title %}
{% block workout-content %}
{% if object_list.count == 0 %}
<div class="row">
  <div class="col-md-12 text-center">
    <h3 style="color: white;">No Workouts to Display.</h3>
    <a class="btn form-button" href="{% url 'workout-select' %}" role="button">
      Add Workout
    </a>
  </div>
</div>
{% else %}
<div class="table-responsive-lg">
  <table class="table table-light table-striped">
    <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">{{ th_1 }}</th>
      <th scope="col">{{ th_2 }}</th>
      <th scope="col">{{ th_3 }}</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for workout in object_list %}
    <tr>
      {% if category == 'CARDIO' %}
      <th scope="row">
        <a class="workout-title-link" href="{% url 'c-workout-detail' workout.id %}">
          {{ workout.name }}
        </a>
      </th>
      <td>{{ workout.sets }}</td>
      <td>{{ workout.time | time:"H:i:s" }}</td>
      <td>
        {% if workout.distance == 0 %}
        N/A
        {% else %}
        {% if workout.user.profile.distance_units == 'M' %}
        {{ workout.distance }} mi
        {% else %}
        {{ workout.distance }} km
        {% endif %}
        {% endif %}
      </td>
      {% elif category == 'RESISTANCE' %}
      <th scope="row">
        <a class="workout-title-link" href="{% url 'r-workout-detail' workout.id %}">
          {{ workout.name }}
        </a>
      </th>
      <td>
        {% if workout.resistance == 'E' %}
        Easy
        {% elif workout.resistance == 'M' %}
        Medium
        {% elif workout.resistance == 'D' %}
        Difficult
        {% else %}
        Advanced
        {% endif %}
      </td>
      <td>{{ workout.sets }}</td>
      <td>{{ workout.reps }}</td>
      {% else %}
      <th scope="row">
        <a class="workout-title-link" href="{% url 'wl-workout-detail' workout.id %}">
          {{ workout.name }}
        </a>
      </th>
      <td>
        {% if workout.user.profile.weight_units == 'P' %}
        {{ workout.weight }} lbs
        {% else %}
        {{ workout.weight }} kg
        {% endif %}
      </td>
      <td>{{ workout.sets }}</td>
      <td>{{ workout.reps }}</td>
      {% endif %}
      <td>{{ workout.date | date:"m/d/Y" }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock workout-content %}
