{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title">
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-4" style="padding-bottom: 1em;">
      <div class="card">
        <div class="card-body">
          <h2>
            <a class="workout-title-link" href="{% url 'add-c-workout' %}">
              Cardio
            </a>
          </h2>
          <p>
            Use this category if you are going on a run, swim, bike ride, or doing some aerobic exercises.
            You are able to record aspects of the exercise such as your time and distance.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding-bottom: 1em;">
      <div class="card">
        <div class="card-body">
          <h2>
            <a class="workout-title-link" href="{% url 'add-r-workout' %}">
              Resistance
            </a>
          </h2>
          <p>
            Similar to the weightlifting category, use this category when you are packing on that muscle but are
            using resistance bands instead of weights.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding-bottom: 1em;">
      <div class="card">
        <div class="card-body">
          <h2>
            <a class="workout-title-link" href="{% url 'add-wl-workout' %}">
              Weightlifting
            </a>
          </h2>
          <p>
            Whether it is bodybuilding, powerlifting, or even just regular bodyweight exercises, this category is the
            one to choose when you are trying to pack on that muscle.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}