{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
{{ form.media }}
{% endblock head %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title">
        {{ page_title }}
      </h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form | crispy }}
        </fieldset>
        {% if cardio %}
        <p class="text-muted" style="margin-top: -2em;">Leave distance equal to zero if it is not needed.</p>
        {% endif %}
        <div class="form-group">
          <a class="btn btn-secondary" href="{{ referer }}" role="button">Cancel</a>
          <button class="btn form-button" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}