/* For Page Layout */
:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.site {
    display: flex;
    background-color: #28334a;
    flex-direction: column;
    min-height: 100vh;
}

.site-header {
  padding-bottom: 50px;
}

.site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

/* NavBar */
#navbar {
   background-color: rgba(0,0,0,0.25);
}

#session-nav {
   background-color: rgba(0,0,0,0.25);
   padding: 1em 0.5em 1em 0.5em;
}

/* Footer */
#footer {
  background-color: #28334aff;
}

/* Page Contents */
#dropdownMenuLink, .nav-item, .nav-link {
  color: white;
}

#dropdownMenuLink:hover, .nav-link:hover, .settings-item:hover, .session-title-link:hover, .session-user-link:hover {
  color: gray;
  text-decoration: none;
}

.navbar-link, .navbar-item, .dropdown-item, .settings-item {
  color: black;
}

.session-title-link, .session-user-link {
  color: black;
  font-size: 1em;
}

.session-detail-user-link {
  font-size: 1em;
  color: #fbde44;
  padding: -3em 3em 0 0;
}

.session-detail-user-link:hover {
  color: #e1bc05;
  text-decoration: none;
}

#session-menu {
  padding-bottom: 3em;
}

#profile-image {
  width: 10em;
  height: 10em;
  max-width: 10em;
  max-height: 10em;
  min-width: 5em;
  min-height: 5em;
  margin-bottom: 1em;
}

#profile-info {
  padding-top: 2.5em;
}

#edit-profile-form {
  padding-top: 2em;
}

.page-title {
  color: white;
  padding-bottom: 1em;
}

.form-button {
  background-color: #fbde44;
  font-weight: 600;
}

.form-button:hover {
  background-color: #e1bc05;
  font-weight: 600;
}

/* Apply Open Sans to Website */
h1 {
  display: block;
  font-family: "Open Sans";
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26px;
}

h2 {
  display: block;
  font-family: "Open Sans";
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 21px;
}

h3 {
  display: block;
  font-family: "Open Sans";
  font-size: 1.17em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15px;
}

a,p {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Open Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18px;
}
