{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Static CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}?20200926">

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto" />

    {% if title %}
      <title>{{ title }} | BFL</title>
    {% else %}
      <title>Billed Fitness Log</title>
    {% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon"  type="image/x-icon" href="{% static 'users/images/logo/favicon.ico' %}" />

  </head>
  <body>

    <!-- The Site -->
    <div class="site">
      <!-- NavBar -->
      <header class="site-header">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
          <div class="container">
            {% if user.is_authenticated %}
              <a class="navbar-brand" href="{% url 'user_home' %}">
                <img src="{% static 'users/images/logo/bfl-logo_50x50.png' %}" />
              </a>
            {% else %}
              <a class="navbar-brand" href="{% url 'landing' %}">
                <img src="{% static 'users/images/logo/bfl-logo_50x50.png' %}" />
              </a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  {% if user.is_authenticated %}
                    <a id="navbar-link" class="nav-link" href="{% url 'user_home' %}">Home</a>
                  {% else %}
                    <a id="navbar-link" class="nav-link" href="{% url 'landing' %}">Home</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  {% if user.is_superuser %}
                    <a id="navbar-link" class="nav-link" href="/admin/">Admin</a>
                  {% endif %}
                </li>
              </ul>
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a id="navbar-link" class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.first_name }} {{ user.last_name }}
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                      <h6 class="dropdown-header">@{{ user.username }}</h6>
                      <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                      <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a id="navbar-link" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a id="navbar-link" class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                  </li>
                {% endif%}
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <!-- Page Contents -->
      <div class="site-content">
        <main role="main" class="container">
          <div class=row>
            {% if messages %}
              {% for message in messages %}
                <div class="container-fluid">
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock content %}
          </div>
        </main>
      </div>

      <!-- Footer -->
      <footer id="footer" class="py-4 text-white-50">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/keanuwilliams/Billed-Fitness-Log" target="_blank">GitHub Repo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Terms & Conditions</a>
          </li>
        </ul>
        <div class="container text-center">
          <small>Copyright &copy; 2020 Keanu Williams</small>
        </div>
      </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
