{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid card" style="background-color: whitesmoke;">
  <div class="card-body">
    <div class="media">
      <img id="profile-image" class="rounded-circle account-img align-self-center mr-3" src="{{ user.profile.image.url }}">
      <div id="profile-info" class="media-body">
        <h1 class="account-heading mt-0">{{ user.first_name }} {{ user.last_name }}</h1>
        <h3 class="text-secondary">@{{ user.username }}</h3>
        <h3 class="text-secondary">{{ user.email }}</h3>
      </div>
    </div>
    <form id="edit-profile-form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
        {{ user_form | crispy }}
        {{ profile_form | crispy }}
      </fieldset>
      <div class="form-group">
        <input type="hidden" name="next" value="{{ referer }}">
        <a class="btn btn-secondary" href="{{ referer }}" role="button">Cancel</a>
        <button id="form-button" class="btn" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
