{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1 style="color: white; padding-bottom: 10px;">Login</h1>
    </div>
    <div class="col-sm-3">
      <p style="color: white; padding: 10px 0 0 3em;">
        (<a style="color: white;" href="{% url 'register' %}">Don't have an account?</a>)
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form | crispy }}
        </fieldset>
        <div class="form-group">
          <button id="form-button" class="btn btn-lg" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
