{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid card" style="background-color: whitesmoke;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-11">
        <div class="media">
          <img class="rounded-circle account-img align-self-center mr-3" style="width: 10em; height: 10em;" src="{{ user.profile.image.url }}">
          <div class="media-body" style="padding-top: 2.5em;">
            <h1 class="account-heading mt-0">{{ user.first_name }} {{ user.last_name }}</h1>
            <h3 class="text-secondary">@{{ user.username }}</h3>
            <h3 class="text-secondary">{{ user.email }}</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        <a class="btn btn-secondary" href="{% url 'edit_profile' %}" role="button">Edit</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
