{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if object.user.is_active %}
<div class="container-fluid card" style="background-color: whitesmoke;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-11">
        <div class="media">
          <div>
            <img id="profile-image" class="rounded-circle account-img align-self-center mr-3" src="{{ object.image.url }}">
          </div>
          <div id="profile-info" class="media-body">
            <h2 class="mt-0">
              {{ object.user.first_name }} {{ object.user.last_name }}
            </h2>
            <h4 class="text-secondary">@{{ object.user.username }}</h4>
            <h4 class="text-secondary">{{ object.user.email }}</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        {% if object.user == user %}
        <a class="btn btn-secondary" href="{% url 'edit-profile' user.username %}" role="button">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container text-center">
  <h2 style="color: white;">User is currently deactivated.</h2>
</div>
{% endif %}
{% endblock content %}
