{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid card" style="background-color: whitesmoke;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-11">
        <div class="media">
          <img id="profile-image" class="rounded-circle account-img align-self-center mr-3" src="{{ object.image.url }}">
          <div id="profile-info" class="media-body">
            <h1 class="mt-0">
              {{ object.user.first_name }} {{ object.user.last_name }}
            </h1>
            <h3 class="text-secondary">@{{ object.user.username }}</h3>
            <h3 class="text-secondary">{{ object.user.email }}</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        {% if object.user == user %}
        <a class="btn btn-secondary" href="{% url 'edit-profile' user.username %}" role="button">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
