{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-9">
      <h1 id="page-title">
        Create an Account
      </h1>
    </div>
    <div class="col-sm-3 text-right">
      <a style="color: white;" href="{% url 'login' %}">Already have an account?</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form | crispy }}
        </fieldset>
        <div class="form-group">
          <button id="form-button" class="btn" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
